#container{
    background-color: rgb(223, 230, 230);
    height: 500px;
    width: 300px;
    border-radius: 13px;
    box-shadow: 2px 2px 8px 6px rgb(117, 114, 114);
    align-items: center;
    justify-content: center;
    margin-left: 500px;
    text-align: center;
    margin-top: 100px;



}
#banner{
    font-size: 3.0rem;
    font-weight: 800;
    margin-top: 100px;
    text-shadow: 2px 2px  rgb(140, 156, 248);
}
#clock{
    background-color: rgb(39, 38, 38) ;
    margin-top: 150px;
    font-size: 3.4rem;
    color: white;
    border-radius: 2px;
    height: 99px;
padding-top: 21px;

}


